

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.logo span {
padding-top: 50px;
    color: red;}
.content {
    padding: 20px;
}

h1 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

h1 a:hover {
    color: red;
}
.navigation {
justify-content: right;
    display: flex;
    padding: 10px;
}

button {
    padding: 3px  40px;
    font-size: 40px;
    cursor: pointer;
    border: none;
    background: azure;
    border: 1px solid;
    color:black;
}
.per1{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', Arial, Helvetica, sans-serif;
text-decoration: underline;
text-decoration-color: red;
}

img{
    width: 98%;  
    height: 400px;
    display: block;
    margin: auto; 

}